---
import FaceImg from "@components/People/FaceImg.astro";
import Name from "@components/People/Name.astro";
import Nickname from "@components/People/Nickname.astro";
import PersonSummary from "@components/People/PersonSummary.astro";
import Article from "@components/Standard/Article.astro";
import PageHeader from "@components/Standard/PageHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const people = await getCollection("people");
    return people.map((p) => ({
        params: { slug: p.slug },
        props: p,
    }));
}

const { data } = Astro.props;
const { Content } = await Astro.props.render();
---
<BaseLayout title={data.name} summary={data.summary}>
    <div class="flex">
        <section>
            <PageHeader>
                <div class="flex items-end">
                    <Name name={data.name} kana={data.kana} />
                    <Nickname name={data.nickname} />
                </div>
            </PageHeader>
            <PersonSummary>{data.summary}</PersonSummary>
            <Article markdown={true}>
                <Content />
            </Article>
        </section>
        <section>
            <FaceImg img={data.faceImg} />
        </section>
    </div>
</BaseLayout>

