---
import Owner from "@components/Bike/Owner.astro";
import PageHeader from "@components/Standard/PageHeader.astro";
import PageTitle from "@components/Standard/PageTitle.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const bikes = await getCollection("bikes");
    return bikes.map((bike) => ({
        params: { slug: bike.slug },
        props: { bikeEntry: bike },
    }));
}

const { bikeEntry } = Astro.props;
const { data } = bikeEntry;
const { Content } = await bikeEntry.render();
---

<BaseLayout title={data.name} summary={data.summary}>
    <section>
        <PageHeader>
            <ruby>{data.kana}</ruby>
            <PageTitle>{data.name}</PageTitle>
        </PageHeader>
        <div class="p-2">
            <p><Owner personSlug={data.owned_by} /></p>
            <p>{data.summary}</p>
        </div>
    </section>
    <section>
        <Content />
    </section>
</BaseLayout>
