---
import Article from "@components/Standard/Article.astro";
import PageHeader from "@components/Standard/PageHeader.astro";
import PageTitle from "@components/Standard/PageTitle.astro";
import Leader from "@components/Team/Leader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Kanban from "../../components/Team/Kanban.astro";
import Member from "../../components/Team/Member.astro";

export async function getStaticPaths() {
    const teams = await getCollection("teams");
    return teams.map((team) => ({
        params: { slug: team.slug },
        props: { teamEntry: team },
    }));
}

const { teamEntry } = Astro.props;
const { data } = teamEntry;
const { Content } = await teamEntry.render();
---

<BaseLayout title={data.name} summary={data.summary}>
    <section>
        <PageHeader>
            <ruby>{data.kana}</ruby>
            <PageTitle>
                {data.name}
            </PageTitle>
        </PageHeader>
        <p class="p-2">
            <Leader leader_slug={data.leader.slug} role={data.leader.role} />
            率いる
            {data.summary}
        </p>
    </section>
    <section>
        <Article markdown={true}>
            <Content />
            <Member leader={data.leader} member={data.member} />
            <Kanban words={data.kanban} />
        </Article>
    </section>
</BaseLayout>
