---
interface Pros {
    src: string;
    alt?: string;
    width?: number;
    height?: number;
}
const { src, alt, width, height } = Astro.props;
const altText = `© 講談社 特攻の拓 ${alt || ""}`;
---

<figure>
    <img src={src} alt={altText} width={width} height={height} />
    <span class="text-xs">{altText}</span>
</figure>
