---
import GlobalHeader from "../components/Global/Header/index.astro";
import Footer from "../components/Global/Footer.astro";
import Backbone from "../components/Global/Backbone.astro";
import SideNavi from "../components/Global/SideNavi.astro";
import MainContent from "../components/MainContent/Index.astro";
import Ogp from "../components/Global/Ogp.astro";
import "../style/global.css";
export interface Props {
    title: string;
    ruby?: string;
    summary?: string;
    isMarkdown: boolean;
}
const { title, ruby, summary, isMarkdown } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" class="h-full bg-gray-100">
    <head prefix="og: https://ogp.me/ns#">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>拓ペディア | {title}</title>
        <Ogp title={title} summary={summary} />
    </head>
    <body class="h-full">
        <div class="flex flex-col min-h-screen max-w-full">
            <GlobalHeader />
            <div class="flex flex-row">
                <SideNavi />
                <MainContent title={title} ruby={ruby}>
                    {
                        isMarkdown ? (
                            <div class="markdown-body">
                                <slot />
                            </div>
                        ) : (
                            <slot />
                        )
                    }
                </MainContent>
                <Backbone />
            </div>
            <Footer />
        </div>
        <!-- Cloudflare Web Analytics -->
        <script
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "fcb3f6abdc6f4d14b2e7ac9c2371de83"}'
        ></script><!-- End Cloudflare Web Analytics -->
    </body>
</html>
